.App {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Increase max-width to fit both panels */
  width: 110%; /* Make the container take up most of the available width */
  margin: auto;
}

.container {
  display: flex;
}

.left-panel, .right-panel {
  padding: 20px;
}

.left-panel {
  width: 65%; 
  border-right: 1px solid #ddd;
}

.right-panel {
  width: 35%; 
  text-align: left;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.file-info {
  margin: 20px 0;
  text-align: center;
  color: #333;
}

.file-info p {
  margin: 5px 0;
}

.file-info span {
  font-weight: bold;
}

#waveform {
  margin: 20px 0;
}

.loader {
  margin: 20px 0;
}

.download-button {
  margin-top: 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-container label {
  margin-bottom: 10px;
}

.slider-container input {
  width: 100%;
}