.App {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
}

.left-panel, .right-panel {
  padding: 20px;
}

.left-panel {
  width: 35%;
  border-right: 1px solid #ddd;
}

.right-panel {
  width: 65%;
  text-align: left;
  overflow: hidden; 
}

.slider-row {
  display: flex;
  justify-content: space-between;
}

.slider-container {
  flex: 1;
}

.slider-row .slider-container:first-child {
  margin-right: 35px;
}

.slider-mobile-row {
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.file-info {
  margin: 20px 0;
  text-align: center;
  color: #333;
}

.file-info p {
  margin: 5px 0;
}

.file-info span {
  font-weight: bold;
}

#waveform {
  margin: 20px 0;
}

.loader {
  margin: 20px 0;
}

.download-button {
  margin-top: 20px;
}

.right-panel::-webkit-scrollbar {
  width: 0.4em;
}

.right-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.right-panel::-webkit-scrollbar-thumb {
  background-color: #007bff;
  outline: 1px solid slategrey;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10; 
}
.loader {
  z-index: 20;
}

@media (max-width: 868px) {
  .left-panel {
    width: 100%;
    border-right: 0px;
  }
  
  .right-panel {
    width: 0%;
    visibility: hidden;
  }
}
